<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-12 col-md-8 offset-md-2">
    <h4>Create new listing</h4>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-2">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Enter your title"
          type="text"
          class="form-control"
          required
          
        />
        <div class="valid-feedback">
      Title looks good!
    </div>
    <div class="invalid-feedback">
      Title should be valid
    </div>
      </div>
      <div class="mb-2">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter your description"
          class="form-control"
          required
          
        ></textarea>
        <div class="valid-feedback">
      Description looks good!
    </div>
        <div class="invalid-feedback">
      Description should be valid
    </div>
      </div>
      <div class="mb-2">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" name="listing[category]">
  
  
  <option disabled selected>Select category</option>
    <% categories.forEach(function(cat) { %>
      <option value="<%= cat %>"><%= cat %></option>
    <% }) %>
</select>
       </div>

      <div class="mb-2">
        <label for="image" class="form-label">Upload your image</label>
        <input
          name="listing[image]"
          
          type="file"
          class="form-control"
          required
          
        />
      </div>
      <div class="row">
        <div class="mb-2 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="Enter your price"
            
            class="form-control"
            required
            
          />
          <div class="invalid-feedback">
      Price should be valid
    </div>
    <div class="valid-feedback">
       Price looks good!
    </div>
        </div>
        <div class="mb-2 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="Enter your country"
            type="text"
            class="form-control"
            required
            
          />
          <div class="valid-feedback">
       Looks good!
    </div>
           <div class="invalid-feedback">
      Country should be valid
    </div>
        </div>
       
      </div>

      <div class="mb-2">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Enter your location"
          type="text"
          class="form-control"
          required
          
        />
        <div class="valid-feedback">
       looks good!
    </div>
        <div class="invalid-feedback">
      Location should be valid
    </div>

      </div>

      <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
    <br><br>
  </div>
</div>
